html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}
h2 {
  font-family: 'Poppins';
  font-size: 13px;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.contador {
  font-family: 'Poppins';
  p {
    font-family: 'Poppins';
  }
}

.slider {
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  h1 {
    font-family: 'Poppins';
    text-align: center;
    margin-top: 80px;
  }
}

.slides {
  display: flex;
  transition: transform 1s ease;
  margin-bottom: 20px;
}

.slide {
  min-width: 100%;
}

.main {
  margin-top: 614px;
  text-align: center;
  h1 {
    font-family: 'Poppins';
  }
  iframe {
    width: 325px;
    height: 272px;
  }
}

.slides {
  img {
    border-radius: 20px;
    object-fit: cover;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  small {
    align-self: flex-end;
  }
}

.menu {
  display: flex;
  width: 73px;
  height: 50px;
  justify-content: center;
  margin: 0 auto;
}

table {
  background: #ffffff;
  font-family: 'monospace';
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 12px;
  thead {
    th:first-child {
      border: none;
      background-color: transparent;
    }
    th {
      border: 1px solid black;
      background: #82FFFF;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid black;
      td:first-child {
        border: 1px solid black;
        background: #fdfd96;
        font-weight: bold;
      }
    }
  }
}